@CHARSET "UTF-8";

#bodypagina {
	background-image: url("/projecto1/resources/images/red.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#page {
	width: 90%;
	min-width: 937px;
	position: relative;
	margin: 20px auto;
}

/*Formatações Header */
#header {
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	box-shadow: 5px 5px 5px #888888;
	margin: 20px 20px 0px;
	height: 200px;
	background-image: url("/projecto1/resources/images/imagesheader.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#tituloHeader {
	display: block;
	font-size: 40px;
	-webkit-margin-before: 140px;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: left;
}

/*Navegação*/
#cssmenu ul, #cssmenu li, #cssmenu span, #cssmenu a {
	margin: 0;
	padding: 0;
	position: relative;
}

#cssmenu {
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	box-shadow: 5px 5px 5px #888888;
	margin-right: 20px;
	margin-left: 20px;
	line-height: 1;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
	border-bottom: 3px solid #db000b;
	width: auto;
	font-weight: 900;
	font-size: medium;
}

#cssmenu:after, #cssmenu ul:after {
	content: '';
	display: block;
	clear: both;
}

#cssmenu a {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
	color: #ffffff;
	display: block;
	padding: 19px 20px;
	text-decoration: none;
	font-size: medium;
	font-family: Helvetica, Verdana, sans-serif;
}

#cssmenu ul {
	list-style: none;
}

#cssmenu>ul>li {
	display: inline-block;
	float: left;
	margin: 0;
}

#cssmenu.align-center {
	text-align: center;
}

#cssmenu.align-center>ul>li {
	float: none;
}

#cssmenu.align-center ul ul {
	text-align: left;
}

#cssmenu.align-right>ul {
	float: right;
}

#cssmenu.align-right ul ul {
	text-align: right;
}

#cssmenu>ul>li>a {
	color: #000000;
	font-size: 14px;
}

#cssmenu>ul>li:hover:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #db000b;
	margin-left: -10px;
}

#cssmenu>ul>li:first-child>a {
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

#cssmenu.align-right>ul>li:first-child>a, #cssmenu.align-center>ul>li:first-child>a
	{
	border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#cssmenu.align-right>ul>li:last-child>a {
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

#cssmenu>ul>li.active>a, #cssmenu>ul>li:hover>a {
	color: #000000;
	box-shadow: inset 0 0 3px #d9d9d9;
	-moz-box-shadow: inset 0 0 3px #d9d9d9;
	box-shadow: inset 0 0 3px #d9d9d9;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #f2f2f2));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
}

#cssmenu .has-sub {
	z-index: 1;
}

#cssmenu .has-sub:hover>ul {
	display: block;
}

#cssmenu .has-sub ul {
	display: none;
	position: absolute;
	width: 200px;
	top: 100%;
	left: 0;
}

#cssmenu.align-right .has-sub ul {
	left: auto;
	right: 0;
}

#cssmenu .has-sub ul li {
	*margin-bottom: -1px;
}

#cssmenu .has-sub ul li a {
	background: #db000b;
	border-bottom: 1px dotted #ff0f1b;
	font-size: 12px;
	filter: none;
	display: block;
	line-height: 120%;
	padding: 10px;
	color: #ffffff;
}

#cssmenu .has-sub ul li:hover a {
	background: #a80008;
}

#cssmenu ul ul li:hover>a {
	color: #ffffff;
}

#cssmenu .has-sub .has-sub:hover>ul {
	display: block;
}

#cssmenu .has-sub .has-sub ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}

#cssmenu.align-right .has-sub .has-sub ul, #cssmenu.align-right ul ul ul
	{
	left: auto;
	right: 100%;
}

#cssmenu .has-sub .has-sub ul li a {
	background: #a80008;
	border-bottom: 1px dotted #ff0f1b;
}

#cssmenu .has-sub .has-sub ul li a:hover {
	background: #8f0007;
}

#cssmenu ul ul li.last>a, #cssmenu ul ul li:last-child>a, #cssmenu ul ul ul li.last>a,
	#cssmenu ul ul ul li:last-child>a, #cssmenu .has-sub ul li:last-child>a,
	#cssmenu .has-sub ul li.last>a {
	border-bottom: 0;
}

/*Formatações Content */

#article {
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	box-shadow: 5px 5px 5px #888888;
	padding: 15px;
	background-color: LightYellow;
	width: 67%;
	height: auto;
	margin: 20px;
	text-align: justify;
	color: black;
}

#aside {
	float: right;
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	box-shadow: 5px 5px 5px #888888;
	padding: 15px;
	background-color: LightYellow;
	width: 20%;
	height: auto;
	margin: 20px;
	text-align: center;
	color: black;
}

/*Formatações Footer */
#footer {
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	box-shadow: 5px 5px 5px #888888;
	positio: relative;
	margin: 20px;
	height: auto;
	width: auto;
	background-color: #400000;
	color: white;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	font-weight: normal;
}

#tabela1 {
	/* 	align: "center"; */
	border-color: DarkCyan;
	border-width: thin;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
}

figure{
	margin-left: auto;
	margin-right: auto;
}

figcaption{
	text-align:center;
}

#imagens {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
}

#blocoimagens{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	padding-left: 20px;
	padding-right: 20px;
	text-align:center;
	
}

#legenda{
	text-align: center;
}

span{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	border: solid 1px black;
}

iframe {
	margin: auto;
	display: block;
}

audio {
	margin: auto;
	display: block;
}

tr{
	margin: 5px;
}

p, h {
	font-family: Helvetica, Verdana, sans-serif;
}

h1{
	
	text-align: center;
	font-size: 28px;
	font-weight: 900;
	
}
h2{
	font-size: 20px;
}